body{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #c4c3ca;
    overflow-x: hidden;
    background-color: #14151a;
	justify-content: center;
  align-items: center;
	text-align: center;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 300;
    margin-bottom: 0;
	  line-height: 1.35;
	  color: #fff;
}

.cursor-link-blog-post-4 h5, .cursor-link-blog-post-4 p {
	  font-size: 1.8rem;
	  font-weight: 500;
    margin-top: 70px;
}

.sobre h1, .sobre h2, .sobre h3 {
  color: rgb(0, 3, 32);
}

::selection {
	  color: #fff;
}
::-moz-selection {
	  color: #fff;
}
::selection {
	  background-color: #000;
}
::-moz-selection {
	  background-color: #000;
}
.section {
    position: relative;
	  width: 100%;
	  display: block;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.over-hide{
	  overflow: hidden;
}

.mapouter {
  margin:auto;
}

}
.padding-top-bottom-big {
	  padding-top: 140px;
	  padding-bottom: 140px;
}
.padding-top-big {
	  padding-top: 140px;
}
.padding-bottom-big {
	  padding-bottom: 140px;
}
.padding-top-bottom {
    padding-top: 100px;
    padding-bottom: 100px;
}
.padding-top {
	  padding-top: 100px;
}
.padding-bottom {
	  padding-bottom: 100px;
}
.section-title-wrap p{
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 500;
    padding: 0;
}
.section-title-wrap h1{
    margin: 0;
    padding: 0;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
}
.background-dark {
	  background-color: #111;
}

.primary-color {
  margin-top: -2em;
}

.pie p {
  font-size: 5rem;
}

/* ICONO ADN */
.box{
            width: 80%;
            margin: 0px auto;
            margin-top: 5em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .item{
            width: 4px;
            height: 100px;
            background: rgb(104, 117, 233);
            margin: 0px 7px;
            position: relative;
            animation: anim 2s linear infinite;
            animation-delay: calc(0.1s*var(--i));
        }
        @keyframes anim{
            0%{
                transform: perspective(600px) rotateX(0deg);
            }
            100%{
                transform: perspective(600px) rotateX(360deg);
            }
        }
        .item::before,.item::after{
            content: "";
            position: absolute;
            left: -3px;
            top: -5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: darkblue;
        }
        .item::after{
            top: calc(100% - 5px);
            left: -3px;
        }

 
/* #Blog post
================================================== */
 
.blog-post-box{
    position: relative;  
    display: inline-block;
    cursor: pointer;
}
.blog-post-box h5{
	  position: relative;  
	  text-transform: none;
	  cursor: pointer;
	  mix-blend-mode: difference;
	  z-index: 3;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear; 
}
.blog-post-box:hover h5{
}
.blog-post-box p{
	  position: relative;  
	  color: #c4c3ca;
	  cursor: pointer;
    font-weight: 500;
	  font-size: 14px;
	  display: inline-block;
	  mix-blend-mode: luminosity;
	  padding: 4px 12px;
	  background-color: rgba(127,110,210,.8);
    border-radius: 2px;
  	z-index: 4;
}



/* #Blog nav link
================================================== */

.blog-nav {
	  position: relative;
    cursor: pointer;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
	  color: #565b70;
    font-size: 4vw;
    opacity: 0.4;
    transition: opacity .2s;
    transition-timing-function: ease-out;
}
.blog-nav:hover {
    opacity: 0.7;
	  color: #565b70;
}

/* SOBRE ========================== */
#card-toggle {
  display: none;
}

.card {
  display: block;
  width: 450px;
  height: 315px;
  cursor: pointer;
  box-shadow: 0px 0px 15px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-perspective: 1750px;
  -moz-perspective: 1750px;
  -o-perspective: 1750px;
  -ms-perspective: 1750px;
  perspective: 1750px;
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  -ms-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

#notice {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 8px #d0d0d0;
  opacity: 0;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

#notice.show {
  opacity: 1;
  bottom: -50px;
}

.card:hover .face {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -o-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.front {
	align-items: center;
	justify content: center;
	text-align: center;
  z-index: 3;
  -webkit-transform: rotateX(5deg);
  -moz-transform: rotateX(5deg);
  -o-transform: rotateX(5deg);
  -ms-transform: rotateX(5deg);
  transform: rotateX(5deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front img {
  width: 80%;
	margin: auto;
	padding-top: 6em;
}

.inner-top {
  z-index: 2;
  background-image: url("");
  background-size: contain;
  -webkit-transform: rotateX(5deg);
  -moz-transform: rotateX(5deg);
  -o-transform: rotateX(5deg);
  -ms-transform: rotateX(5deg);
  transform: rotateX(5deg);
}

.inner-top .contents {
  height: 75%;
  padding: 20px;
  width: 270px;
  text-align: center;
  box-sizing: border-box;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.inner-top .contents h2 {
  margin-top: 0;
  font-family: "Satisfy";
}

.contents p {
	font-size: 50px;
}

.time p, .rsvp p {
	font-size: 25px;
}

.inner-bottom {
  z-index: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.inner-bottom .details {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.inner-bottom .details > div {
  padding: 5px;
  box-sizing: border-box;
}

.inner-bottom > div p {
  text-align: center;
  line-height: 0;
}

.card:hover .front,
.card:hover .inner-top {
  -webkit-transform: rotateX(25deg);
  -moz-transform: rotateX(25deg);
  -o-transform: rotateX(25deg);
  -ms-transform: rotateX(25deg);
  transform: rotateX(25deg);
}

#card-toggle:checked + .card {
  -webkit-transform: translate(-50%, 0) rotate(-2deg);
  -moz-transform: translate(-50%, 0) rotate(-2deg);
  -o-transform: translate(-50%, 0) rotate(-2deg);
  -ms-transform: translate(-50%, 0) rotate(-2deg);
  transform: translate(-50%, 0) rotate(-2deg);
}

#card-toggle:checked + .card .inner-top {
  box-shadow: 0px 0px 15px #000000;
  z-index: 0;
}

#card-toggle:checked + .card .front,
#card-toggle:checked + .card .inner-top {
  -webkit-transform: rotateX(170deg);
  -moz-transform: rotateX(170deg);
  -o-transform: rotateX(170deg);
  -ms-transform: rotateX(170deg);
  transform: rotateX(170deg);
}

.card-toggle:checked + .card .inner-bottom {
  -webkit-transform: rotateY(15deg);
  -moz-transform: rotateY(15deg);
  -o-transform: rotateY(15deg);
  -ms-transform: rotateY(15deg);
  transform: rotateY(15deg);
}

